html, body{
    height: 100%;
    font-size: 120%;
	margin: 0;
}

.side-bar{
	width: 30%;
	height: 100%;
	margin: 0;
	padding-left: 2rem;
	padding-top: 1rem;
	background-color: rgba(178, 222, 237, 0.8);
}


@media(max-width: 640px){
	.side-bar{
		width: 100%;
		height: 30%;
		margin: 0;
	}
	html{
		font-size: 100%;
	}
}